

.topbar {
    background-color: rgb(253, 253, 253);
    height: 50px;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    .navs {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .left p {
            font-weight: 600;
            font-size: 18px;
            margin-top: 10px;
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80%;
            cursor: pointer;
            #userloginmodal {
                height: 100%;
                text-decoration: none;
                color: black;
                border: none;
                // margin-left: 10px;
                // margin-bottom: 10px;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
                    rgba(0, 0, 0, 0.24) 0px 1px 2px;
                padding: 5px 5px;
            }

            img {
                height: 20x;
                width: 20px;
            }
        }
    }
}



// 480px to avobe untill breakpoint is not found
// when screen reach minimum width of 480px
@media screen and (max-width: 480px) {
    .topbar {
        width: 350px !important;
        .navs {
            padding: 0px 5px !important;
            .left p {
                font-weight: 500;
                font-size: 15px;
            }
            .right {
                width: 150px;
                button {
                    margin-left: 5px;
                    padding: 5px 5px;
                }

                img {
                    height: 20x;
                    width: 20px;
                }
            }
        }
    }
}

// 600px to avobe untill breakpoint is not found
// when screen reach minimum width of 600px
@media screen and (max-width: 600px) {
    .topbar {
        width: 400px;
        .navs {
            padding: 0 10px;
        }
    }
}


// 900px to avobe untill breakpoint is not found
// when screen reach minimum width of 900px
@media screen and (max-width: 900px) {
    .topbar {
        width: 500px;
    }
}

