*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 40px 0px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}


#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75) url('/Asset/gif/loading.gif') no-repeat center center;
    z-index: 10000;
}
#loader-black {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0) url('/Asset/gif/loading.gif') no-repeat center center;
    z-index: 10000;
}

.defaultBtn{
    float: right;
    height: 100%;
    text-decoration: none;
    color: black;
    border: none;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 5px 10px;
}

.btn{
    border-radius: 0px !important;
}